<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta charset="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>

<body>
    <h6>Module 8: Final</h6>
    <body text="ff0000"></body>

    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list class="form-select" size="3" aria-label="size 3 select example">
                <li class="main-header__item"><a class="active" href="home">home</a></li>
                <li class="main-header__item"><a class="active" href="signup">Sign Up</a></li>
                <li class="main-header__item"><a class="active" href="login">Login</a></li>
                <li class="main-header__item"><a class="active" href="loans">Loans</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="form-control mx-auto" style="width: 200px;">
        
            <h6> Use these links to set up! </h6>
    </div>
    </main>
    </body>

    </html>